.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip > form h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.btn-light {
  right: 50px;
  bottom: 137px;
}

.btn-secondary {
  bottom: 137px;
  right: 3px;
  background-color: #E2E6EA;
  color: #457ACB;
  border: none;
}

.lines p {
  font-size: 20px;
  font-family: serif;
}

#link {
  margin-left: 145px;
  color: #1C4752;
  text-decoration: none;
  &:hover {
    font-size: 18px;
    color: #333333;
    padding: 5px;
    border-radius: 8px;
  }
}
.buttons_switch {
  position: absolute;
  top: -15px;
  right: 7px;
}

