<div class="title-reservation m-2">
  <h2>Toutes mes reservations</h2>
</div>
<br>
<div class="container m-2">
  <h5>Mes réservations actuelles :</h5>
  <div class="resa_current">
  <%= render "bookings", bookings: @current_bookings %>
  </div>
  <br>
 <h5>Mes réservations futures :</h5>
 <div class="resa_future mt-2">
  <%= render "bookings", bookings: @future_bookings %>
 </div>
 <br>
  <h5>Mes réservations passées :</h5>
  <div class="resa_past">
  <%= render "bookings", bookings: @past_bookings %>
  </div>
</div>


