<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_tag(@moissonneuse.photo.key, crop: :fill %>')">;
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <h1><%= @moissonneuse.name %></h1>
    </div>
  </div>
</div>
