<% @moissonneuses.each do |moissonneuse| %>
      <% link_to moissonneuse_path(moissonneuse) do %>
        <div class="card-product-index">
          <img src="<%= cl_image_path moissonneuse.photo.key, alt: "alttext" %>" />
          <div class="card-product-infos-index">
            <h2><%= moissonneuse.name %></h2>
            <p><%= moissonneuse.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
