<div class="container">
  <%= cl_image_tag(@moissonneuse.photo.key, width: 400, height: 300, crop: :fill) %>
    <div class="btn btn-info">
      <%= link_to 'Retour à la liste des Moissonneuses', moissonneuses_path %>
    </div>
  <div class="btn btn-warning">
    <%= link_to 'Supprimer ma Moissonneuse', moissonneuses_path %>
  </div>

  <form action="text" class="description_text">
    <div class="titre_name">
      <h5><strong>Name :</strong> <%= @moissonneuse.name %></h5>
        <br>
      <h5><strong>Description : </strong></h5>
       </div>
  </form>
</div>
